---
---

@import "{{ site.theme }}";

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 999;
}

li.navbar {
  float: left;
}

li.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navbar a:hover {
  background-color: #111;
}

.corpimage {
  margin-bottom: 50;
}

.corptext {
  margin: 0;
  position: absolute;
  top: 50%;
}

div.background {
  background-image: url("https://www.eve-outtakes.de/caldari-bc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background-color: white;
}
